@use "./ThemMix" as *;
@use "../abstract/variable" as var;
@include  baseTemplete;
#sidebarMenu{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 6%), 0 2px 10px 0 rgb(0 0 0 / 6%);
    .logo{
        .logo-img {
            box-shadow: 2px 2px 2px var.color("light","tertery");
          }
        span{
            text-shadow: 1px 1px 1px color("light","b");
            color:var.color("light","textprim") !important;
        }
    }

}
@include simpleHomeCalender;
.home{
    &-countpanel{
      &-componet{
        background-image: linear-gradient(to right top, #0b00ff, #6247ff, #8d73ff, #b19dff, #d2c7ff, #d5caff, #d7ccff, #dacfff, #c0abff, #a686ff, #8a60ff, #6c34ff);
        &--identiy{
            .icon{
                color: var.color("light","textsecound");
            }
        }
        &--des{
          h5{
            color: var.color("light","textsecound") ;
          }
          h6{
            color: var.color("light","tertery");
          }

        }
      }

  }
  @include SimpleRecentTable;

}
@include Login;
.adminprofile{
 &-header{
  background-image: url('../../images/uselightprofile.jpg');
  &_user{
    &--badge{
       @include Adminbadge;
    }
    &--btn{
      outline: ridge 1.2px var.color('light','info');
        &:hover{
          background-color: var.color('light','info') !important;
        }
    }
  }
  &_userdetails{
        color:var.color("light","textprim");
    }
 }
}
@include Footer;
