@use "./ThemMix" as *;
@use "../abstract/variable" as var;
@include  baseTemplete;
#sidebarMenu{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 6%), 0 2px 10px 0 rgb(0 0 0 / 6%);
    .logo{
        .logo-img {
            box-shadow: 2px 2px 2px var.color("light","tertery");
          }
        span{
            text-shadow: 1px 1px 1px color("light","b");
            color:var.color("light","textprim") !important;
        }
    }

}