@use "./ThemMix" as *;
@use "../abstract/variable" as var;
@use "../components/component" as component;

.dark-page {
  @include  baseTemplete("dark");

  #sidebarMenu {
    box-shadow: 0 2px 5px 0 rgba(177, 177, 177, 0.292), 0 2px 10px 0 rgb(177, 177, 177, 0.292);
    .logo {
      .logo-img {
        box-shadow: 2px 2px 2px var.color("dark","w");
      }
      span {
        @include component.CText("dark","w");
      }

    }
  }

  .sidebar-toggole {
    @include component.CText("dark","w");
  }

  main {
    background-color: #5e5e5e28;

    #main-navbar {
      .searchbar {
        .btn {
          i {
            @include component.CText("dark","w");
          }

        }
      }
  }
}
@include simpleHomeCalender("dark");
.home{
  &-countpanel{
    &-componet{
      background-image: linear-gradient(to right top, #ffffff, #cfcbdd, #a199ba, #776998, #4e3c76, #41285e, #341446, #260030, #250021, #200015, #160009, #000000);
      &--identiy{
          .icon{
              color: var.color("dark","forth");
          }
      }
      &--des{
        h5{
          color: var.color("dark","w") ;
        }
        h6{
          color: rgb(154, 153, 153);
        }

      }
    }

}}
@include SimpleRecentTable("dark");
@include Footer("dark");
.adminprofile{
 &-header{
  background-image: url('../../images/uselightprofile.jpg');
  filter: grayscale(100%);
  &_user{
    &--badge{
      @include Adminbadge("dark");
    }
    &--btn{
      outline: ridge 1.2px var.color('dark','info');
      &:hover{
  background-color: var.color('dark','info') !important;
      }

    }
  }
   &_userdetails{
        color:var.color("dark","textprim");
    }
 }
}
.adminshow{
    &-action{
         &_add{
       background-color: var.color("dark","secoundary") !important;
        &--btn{
            font-size: var.color("dark","textprim") !important;
        }
    }
    }

}
@include Login("dark");
@include BookingCalender("dark");
 @include OneBooking("dark");
}
