@use "../abstract/variable"as var;
@use "../components/component"as component;

@mixin baseTemplete($theme: "light") {
  #sidebarMenu {
    background-color: var.color($theme, "primary");

    .logo {
      background-color: var.color($theme, "secoundary");
    }

    .navlink {
      @include component.CText($theme,"textprim");
      background-color: var.color($theme, "tertery");
    }
  }

  main {
    background-color: var.color($theme,"bodybg");

    #main-navbar {
      background-color: var.color($theme, "secoundary");

      .searchbar {
        .btn {
          background-color: var.color($theme, "primary") !important;
        }
      }
    }
  }
}