@use "../abstract/variable" as var;
@use "../components/component" as component;

@mixin baseTemplete($theme: "light") {
  #sidebarMenu {
    background-color: var.color($theme, "primary");

    .logo {
      background-color: var.color($theme, "secoundary");

      .logo-img {
        box-shadow: 2px 2px 1px var.color($theme, "w");
      }
    }

    .navlink {
      background-color: var.color($theme, "tertery");
    }
  }

  main {
    background-color: #5e5e5e28;

    #main-navbar {
      background-color: var.color($theme, "secoundary");

      .searchbar {
        .btn {
          background-color: var.color($theme, "primary") !important;
        }
      }
    }
  }
}
