@use "../abstract/variable" as *;
* {
    padding: 0;
    margin: 0;
    transition:trns("t_1");
  
    // body design
    body {
      width: 100%;
      min-height: 100vh;
      margin: 0px 0px;
  
     
    }  
  }