@use "./cambell"as *;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//Side bar Split btn
.sidebar-toggole {
  @include fixedbtn(expandSidebar("splitbtn"), 25px, 10000);
  font-size: 25px;
  font-weight: 800;
}

.respon-btn {
  @include fixedbtn(10px, 10px, 11000);
}

.closeres {
  left: 235px;
}

.split-page {
  #sidebarMenu {
    width: 70px !important;
    margin-left: 2px;
    padding: 0px 0px 58px 0px;

    .logo {
      position: relative;

      span {
        @include d("hide");
      }

    }

    .navlink {

      span {
        display: none;
      }

      &:hover {
        //width:$divitionline;
        @include d("flex");

        span {
          @include d("block");
        }

      }
    }
  }

  .sidebar-toggole {
    position: absolute;
    left: 85px;
    top: 20px;
  }

  main {
    padding-left: 70px;

    .searchbar {
      margin-left: 35px;
    }
  }
}





@media (max-width: 768px) {


  // body design
  #sidebarMenu {
    padding: 0px 0 58px 0px;
    width: 70px !important;
    margin-left: 2px;

    .logo {
      position: relative;
      padding: 5px 3px !important;

      span {
        display: none;
      }

      //logo image 
      .logo-img {
        height: 30px;
        width: 30px;
      }

    }

    .navlink {
      span {
        display: none;
      }

      &:hover {
        // width:$divitionline;
        display: flex;

        span {
          display: block;
        }

      }
    }

  }

  //Side bar Split btn
  .sidebar-toggole {
    display: none;
  }

  main {
    padding-left: 70px !important;

    #main-navbar {}

  }

  #Footer {
    //  background-color: $SecoundaryColor;
    margin-bottom: 0px;
  }
}

@media (max-width: 576px) {
  main {
    padding-left: 0px !important;
  }

  #sidebarMenu {

    // transition: $trans2s;
    &.responsiveBlock {
      display: block !important;
      width: 60% !important;
      z-index: 10500;
      margin-left: 0px;

      .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0px;

        span {
          display: block;
        }

        .logo-img {}
      }

      .navlink {
        display: flex;

        span {
          display: block;
        }
      }
    }

  }


}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


//collapsable stage