@use "./cambell"as *;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//Side bar Split btn
.sidebar-toggole {
  @include fixedbtn(expandSidebar("splitbtn"), 25px, 10000);
  font-size: 25px;
  font-weight: 800;
}

.respon-btn {
  @include fixedbtn(10px, 10px, 11000);
}

.closeres {
  left: 235px;
}

