
.gradient-custom-2 {
    background: hsla(260, 90%, 43%, 1);

    background: linear-gradient(225deg, hsla(260, 90%, 43%, 1) 0%, hsla(228, 2%, 57%, 1) 80%);
    
    background: -moz-linear-gradient(225deg, hsla(260, 90%, 43%, 1) 0%, hsla(228, 2%, 57%, 1) 80%);
    
    background: -webkit-linear-gradient(225deg, hsla(260, 90%, 43%, 1) 0%, hsla(228, 2%, 57%, 1) 80%);

}
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }