@media (max-width: 576px) {
.adminprofile{
    &-header{
        display: block;
        &_user{
            height: 100px;
            border-radius: 50%;
            div{
                border-radius: inherit;
            }
            &--img
            { width: 100px;
                height: 100px;
                border-radius: inherit;
            }
            &--badge
            {
                z-index: 100;
                position: absolute;
                bottom: 10px;
                right: 0px;
            }
        }
    }
}
}
