.booking {
  .sheduler {
    .simple-calender {
      border-radius: 6px;

      .simple-calender--tile {
        height   : 120px;
        font-size: 20px;

        .events {
          height    : 100%;
          display   : flex;
          flex-wrap : wrap;
          overflow  : auto;
          transition: 0.23s;

          &-row {
            transition: 0.5s;

            &:hover {
              width   : 300px;
              position: absolute;
              top     : 300px;
              right   : 500px;
              height  : 300px;
            }
          }

          &::-webkit-scrollbar {
            display: none;

          }

          &-set {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;
            align-items    : center;

            &_one {
              padding: 5px;

              &--name {
                font-size      : 9px;
                padding        : 5px;
                font-weight    : 600;
                text-decoration: none;
              }



            }
          }

        }
      }
    }
  }
}

.addtododatepicker {
  border-radius: 20px;
  outline      : none;
  border       : none;
}

.Onebook {
  .todo {
    border-radius: 75rem;
  }

  .bookEvent {
    .simple-calender {}
  }
}
