.booking {
  .sheduler {
    .simple-calender {
      border-radius: 6px;

      .simple-calender--tile {
        height   : 110px;
        font-size: 20px;

        .events {
          height   : min-content;
          display  : flex;
          flex-wrap: wrap;

          &-set {
            display:flex;
            flex-wrap: wrap;
            &_one {
              padding: 10px;

              &--name {
                font-size: 12px;
                padding: 5px;
              }



            }
          }

        }
      }
    }
  }
}

.addtododatepicker {
  border-radius: 20px;
  outline      : none;
  border       : none;
}
