.chat {
    border-radius: 15px;

    &-users {
        border-right: 1px ridge rgba(101, 101, 101, 0.275);

        &_search {
            &--input {
                border-color: transparent !important;
                &:focus {
                    border-color: transparent !important;
                    box-shadow  : inset 0px 0px 0px 1px transparent;
                }
            }

            &--btn {
                cursor   : pointer;
                padding: 5px;
                &__icon{
                    font-size: 20px;

                }
            }
        }
    }



}


.badge-dot {
    border-radius: 50%;
    height       : 10px;
    width        : 10px;
    margin-left  : 2.9rem;
    margin-top   : -.75rem;
}


.userlist {
    height  : 95%;
    overflow: hidden;

    ul {
        overflow-y     : scroll;
        scroll-behavior: smooth;
        transition     : all ease-in 0.25s;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.useitem:hover {
    box-shadow      : 1px 1px 2px rgba(128, 128, 128, 0.568);
    background-color: rgba(0, 0, 0, 0.09);
}

.chatting {
    height  : 83vh;
    overflow: hidden;

    >div {
        overflow-y     : auto;
        scroll-behavior: smooth;
        transition     : all ease-in-out 0.2s;

        &::-webkit-scrollbar {
            display: none;
            cursor : pointer;
        }
    }
}

.editcon {
    bottom   : 45px;
    right    : 40px;
    font-size: smaller;
    cursor   : pointer;

    &:hover {
        color: #fff !important;
    }
}

.deleteicon {
    font-size: smaller;
    bottom   : 45px;
    right    : 20px;

    &:hover {
        color: #fff !important;
    }
}
