.reset {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .bg-image {
        height    : 320px;
        object-fit: cover;
        width     : 100%;
        margin    : 0;
    }

    &-container {
        backdrop-filter: blur(30px);
        background     : #ffffffcc;
        margin-top     : -200px;

        &-logo {
            width: 100px;
        }

    }
}
.login {
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;

    .bg-image {
        height    : 320px;
        object-fit: cover;
        width     : 100%;
        margin    : 0;
    }

    &-container {
        backdrop-filter: blur(30px);
        background     : #ffffffcc;
        margin-top     : -200px;

        &-logo {
            width: 100px;
        }

    }
}
