@mixin home{


.home{
    width: 100%;
    &-countpanel{
      &-componet{
        &--identiy{
            .icon{
              font-size: 40px !important;
            }
        }
        &--des{
            h5{
              font-size:20px;
            }
          h6{
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }
  }}